.projects__container{
    width: 750px;
}
.project__card{
    background-color: var(--container-color);
    border-radius: 1.5rem;
    border: 1px solid rgb(0, 0, 0,0.1);
    margin-bottom: var(--mb-3);
    padding: 1.5rem 2rem;
    justify-content: space-between;
    cursor: auto;
}

.project__card p{
    font-size: var(--small-font-size);
    text-align: justify;
    margin-top: 1rem;
}

.project__card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.project__card-footer a{
    background-color: var(--title-color);
    font-size: var(--small-font-size);
    transition: .3s;
    font-weight: 700;
    padding: .3rem 1rem;
    color: white;
    border-radius: .5rem;
}
.project__card-footer a:hover{
    background-color: var(--title-color-dark);
}
.project__card-footer span{
    font-size: normal;
    font-weight: 700;
}

/* swiper style */

.swiper-pagination-bullet-active{
    background-color: var(--title-color-dark) !important;
}

/* -------------- Responsive typography--------------  */

@media screen and (max-width :992px){
    .projects__container{
        width: inherit;
    }
    .project__card{
        padding: 1.25rem 1.5rem;
}
}